* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(240, 235, 235);
    height: 10000%;
    border: 1rem solid darkgrey;
    margin: 5%;
    border-radius: 0.5%;
}

.nav {
    color: white;
    background-color: rgb(165, 154, 154);
    display: flex;
    flex :  1 1 auto;
    justify-content: center;
    padding: 3% 0;
    margin: 2%;
}

.banner {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 199, 199);
    height: 100vh;
    margin: 2%;
    color:  white;
}

.section1{
    margin: 2%;
}

.heading{
    color: black;
    text-align: center;
    padding: 2%;
}
.circle {
    align-items: center;
    width: 17vw;
    height: 17vw;
    background-color: rgb(214, 143, 57);
    border-radius: 50%;
}

.section1_circle {
    display: flex;
    flex : 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
}

.section2{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.section2 .main1 {
    display: flex;
    flex-grow: 1;
    max-width: 39.5vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
}
.articles h2 {
    flex-grow: 1;
    height: 16.vh;
    background-color: rgb(197, 107, 34);
    flex-direction: column;
    width: 39.5vw;
    margin-bottom: 0.6666666vh;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.center {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#th {
    margin-bottom: 0%;
}

.boxes {
    display: flex;
    flex: 1 1 auto;
    margin: 2%;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 50vh;
    width: 18vw;
    background-color: orangered;
}

.footer{
    background-color: rgb(201, 147, 189);
    padding: 3% 0;
    margin: 2%;
}